[submodule "ender3-s1-config"]
	path = ender3-s1-config
	url = ssh://git@github.com/lmarcondes/ender3s1-klipper-config
[submodule "prusa-slicer-config"]
	path = prusa-slicer-config
	url = ssh://git@github.com/lmarcondes/prusa-slicer-configs
[submodule "klipper-macros"]
	path = klipper-macros
	url = ssh://git@github.com/lmarcondes/klipper-macros
